body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

#IndexImage {
	background-image: url("background.jpg");
}

#LoginImage {
	background-image: url("login.jpg");
}

.UISpace {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
    bottom: 0;
	background-color: rgba(63,175,215,0.6);
	overflow-y: scroll;
}

#HeaderSpace {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.Header, .Footer { 
	width: 100%;
	height: 55px;
	background-color: #3fafd7;
	text-align: center;
	color: white;
}

#Logo {
	float: left;
	margin-left: 2%;
}

.ContentSpace {
	margin: 55px;
	text-align: center;
}

#MainContent {
	padding: 5px 10px;
	font-size: 50px;
	color: white;
	font-weight: bold;
}

#left_side {
	margin-left: 75px;
}
/*
.compareButton {
	margin-top: 100px;
	border: none;
	font-size: 15px;
	color: white;
	border-radius: 30px;
	border-color: #F9AA1E;
	background: #F9AA1E;
	width: 250px;
	height: 50px;
}

.compareButton:hover {
	background: #EA9E16;
}
*/

.left-half {
	position: absolute;
	left: 0px;
	width: 50%;
	height: 70%;
}

#EBAResult {
	padding: 0px 0px;
	background-color: white;
	margin: 10px 10px 10px 10px;
	height: 400px;
	overflow: auto;
}

.previewLink {
	font-size: 15px;
}

.right-half {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 70%;
}

#selectForm{
	height: 400px;
	margin-top: 45px;
	margin-left: 120px;
	text-align: center;
	width: 70%;
	background-color: white;
	overflow: auto;
}

/* table, td, th {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
} */

#buttonSpace {
	left: 45%;
	position: absolute;
	bottom: 90px;
}

.compareButton {
	background-color: #F9AA1E;
	color: white;
	padding: 14px 20px;
	border-radius: 25px;
	font-size: 20px;
	border: none;
}

.compareButton:hover {
	background-color: #EA9E16;
}

.left-half-compare {
	position: absolute;
	left: 0px;
	width: 50%;
	height: 70%;
}

.right-half-compare {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 70%;
}

.container {
	font-size: 20px;
	color: white;
    display: block;
    position: relative;
	padding-left: 35px;
	margin-top: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
	cursor: pointer;
}

.checkmark {
	margin-left: 140px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.FooterSpace {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.LoginContent {
	width: 450px;
	margin: 0 auto;
	color: white;
}

#LoginForm {
	margin-top: 250px;
	position: center;
	background-color: white;
	padding-top: 30px;
	width: 450px;
	height: 350px;
}

.FormLabel {
	color: #383838;
	padding: 0px auto 10px auto;
    margin: 0px auto;
	font-size: 13px;
	margin-left: 20px;
	margin-top: 20px;
}

article {
	width: 80%;
	margin: auto;
	margin-top: 100px;
	overflow: scroll;
}

#scoreSpace {
	left: 35%;
	position: absolute;
	bottom: 70px;
}

.scoreResult {
	color: white;
	font-size: 40px;
}

input[type=submit] {
    background-color: #F9AA1E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
	cursor: pointer;
	font-size: 15px;
	font-family: Lato,sans-serif;
}

input[type=submit]:hover {
    background-color: #EA9E16;
}
/*





#tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	width: 100%;
	font-size: 16px;
}

#tables td, #tables th {
    border: 1px solid #ddd;
	padding: 8px;
	color: black;
}

#tables tr {
	background-color: #f2f2f2;
}

#tables tr:hover {
	background-color: #ddd;
}

#tables th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #F9AA1E;
	color: white;
	width: 15%;

#SubContent_0 {
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 22px;
	color: white;
}

#SubContent_1 {
	padding: 5px 10px;
	font-size: 22px;
	color: white;
}

}*/

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 25px;
	box-sizing: border-box;
	font-size: 15px;
}

#form {
	margin-top: 15px;
}

#heading{
	margin: 20px;
}


#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
	padding: 8px;
	color: #383838;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #EA9E16;
    color: white;
}