{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title> Tanda -AAA Project- </title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>

	<body id = "IndexImage">
		<div class = "UISpace">

			<!-- Header zone -->
			<div id = "HeaderSpace">	
				<div class = "Header">
					<a id = "Logo">
						<img src = "{% static "logo2.png" %}" alt = "logo" style="widtd:150px;height: 55px;">
					</a>
				</div>
			</div>

			<!-- Body zone -->
			<div class = "ContentSpace">

				<div class = "left-half-compare">

					<!-- Left side title -->
					<div id = "MainContent"> Results </div>
					<div id = "left_side">
						<table id="customers">
							<tr>
							<th>Condition</th>
							<th>Result</th> 
							</tr>
							<td>Ordinary Hours of Work</td>
							{% if ordinary_hours %}
							<td>{{ ordinary_hours }}</td>
							{% endif %}
						</tr>

						<tr>
							<td>Maximum Daily Working Hours</td>
							{% if max_daily %}
							<td>{{ max_daily }}</td>
							{% endif %}	
						</tr>
						
						<tr>
							<td>Minimum Daily Working Hours</td>
							{% if max_week %}
							<td>{{ max_week }}</td>
							{% endif %}	
						</tr>
						
						<tr>
							<td>Maximum Weekly Working Hours</td>
							{% if public_holiday %}
							<td>{{ public_holiday }}</td>
							{% endif %}
						</tr>
						
						<tr>
							<td>Public Holiday Rate</td>
							{% if overtime %}
							<td>{{ overtime }}</td>
							{% endif %}
						</tr>
						<tr>
							<td>Overtime Conditions</td>
							{% if casual_loading %}
							<td>{{ casual_loading }}</td>
							{% endif %}
						</tr>
						<tr>
							<td>Casual Loading %</td>
							{% if sat_rate %}
							<td>{{ sat_rate }}</td>
							{% endif %}
						</tr>

						<tr>
							<td>Saturday Rate</td>
							{% if sun_rate %}
							<td>{{ sun_rate }}</td>
							{% endif %}
						</tr>
						<tr>
							<td>Sunday Rate</td>
							{% if mini %}
							<td>{{ mini }}</td>
							{% endif %}
						</tr>
						<tr>
							<td>Minimum Break Between Shifts</td>
							{% if mini %}
							<td>{{ mini_f }}</td>
							{% endif %}
						</tr>
						</table>
					</div>
				</div>

				<div class = "right-half-compare">

					<div id = "MainContent"> Compared conditions </div>

					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
						
				</div>

				<div id="scoreSpace">
					<p class = "scoreResult"> Score = score / score </p>
				</div>

			</div>

			<!-- Footer zone -->
			<div class = "FooterSpace">
				<div class = "Footer" style="color:#D4D4D4;"><br><p>Tanda - Contact Us: info@tanda.co</p></div>
			</div>

		</div>
	</body>
</html>