{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset = "UTF-8">
		<title> Tanda -AAA Project- </title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>

	<body id = "IndexImage">
		<div class = "UISpace">

			<!-- Header zone -->
			<div id = "HeaderSpace">	
				<div class = "Header">
					<a id = "Logo">
						<img src = "{% static "logo2.png" %}" alt = "logo" style="width:150px;height: 55px;">
					</a>
				</div>
			</div>

			<!-- Body zone -->
			<div class = "ContentSpace">

			</div>

			<!-- Footer zone -->
			<div class = "FooterSpace">
				<div class = "Footer" style="color:#D4D4D4;"><br><p>Tanda - Contact Us: info@tanda.co</p></div>
			</div>

		</div>
	</body>
</html>