{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset = "UTF-8">
		<title> Tanda -AAA Project- </title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>

	<body id = "IndexImage">
		<div class = "UISpace">

			<!-- Header zone -->
			<div id = "HeaderSpace">	
				<div class = "Header">
					<a id = "Logo">
						<img src = "{% static "logo2.png" %}" alt = "logo" style="width:150px;height: 55px;">
					</a>
				</div>
			</div>

			<!-- Body zone -->
			<div class = "ContentSpace">

				<div class = "left-half-compare">

					<!-- Left side title -->
					<div id = "MainContent"> Results </div>
			
					<label class="container">Ordinary hours of work: </label>
					<label class="container">Maximum daily working hours: </label>
					<label class="container">Minimum daily working hours: </label>
					<label class="container">Maximum weekly working hours: </label>
					<label class="container">Public holiday rate: </label>
					<label class="container">Overtime conditions: </label>
					<label class="container">Casual loading: </label>
					<label class="container">Saturday rate: </label>
					<label class="container">Sunday rate: </label>
					<label class="container">Minimum break between shifts: </label>

				</div>

				<div class = "right-half-compare">

					<div id = "MainContent"> Compared conditions </div>

					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
					<label class="container"> // value here //
						<input type="checkbox">
						<span class="checkmark"></span>
					</label>
						
				</div>

				<div id="scoreSpace">
					<p class = "scoreResult"> Score = score / score </p>
				</div>

			</div>

			<!-- Footer zone -->
			<div class = "FooterSpace">
				<div class = "Footer" style="color:#D4D4D4;"><br><p>Tanda - Contact Us: info@tanda.co</p></div>
			</div>

		</div>
	</body>
</html>