{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset = "UTF-8">
		<title> Tanda -AAA Project- </title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>

	<body id = "IndexImage">
		<div class = "UISpace">

			<!-- Header zone -->
			<div id = "HeaderSpace">	
				<div class = "Header">
					<a id = "Logo">
						<img src = "{% static "logo2.png" %}" alt = "logo" style="width:150px;height: 55px;">
					</a>
				</div>
			</div>

			<!-- Body zone -->
			<div class = "ContentSpace">

				<!-- Left size zone (for EBA in this project) -->
				<div class = "left-half-compare">

					<!-- Left side title -->
                    <div id = "MainContent"> Enter Conditions </div>

                    <label class="container">Ordinary hours of work
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Maximum daily working hours
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Minimum daily working hours
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Maximum weekly working hours
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Public holiday rate
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Overtime conditions
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Casual loading
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Saturday rate
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Sunday rate
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Minimum break between shifts
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
				</div>

				<!-- Right side zone (for AWARD in this project) -->
				<div class = "right-half-compare">

					<!-- Right side title -->
                    <div id = "MainContent"> Condition Entry Manual </div>
                    
                    

				</div>

			</div>

			<!-- Footer zone -->
			<div class = "FooterSpace">
				<div class = "Footer" style="color:#D4D4D4;"><br><p>Tanda - Contact Us: info@tanda.co</p></div>
			</div>

		</div>
	</body>
</html>