{% block content %}
<section id="contact" class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>About us</h1>
                <p class="lead">This is a tool which can automatically extract conditions of modern award documents</p>
                <p class="lead">And it can extract conditions of EBA documents and compare them to Award Documents to give an indication of the BOOT</p>
            </div>
        </div>
    </div>
</section>
  
<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; TeamAAA 2018</p>
</div>
<!-- /.container -->
</footer>
{% endblock %}